## Collective Matrix Factorization

In [1]:
import numpy as np, pandas as pd, time, re
from datetime import datetime
from cmfrec import CMF

/scratch/user/achadha7/.conda/envs/py3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
ratings=pd.read_table('/scratch/user/achadha7/IRProject/MovieLens/ml-latest-small/ratings.csv',sep=',',engine='python',names=['UserId','ItemId','Rating','Timestamp'])
#ratings['Timestamp']=ratings.Timestamp.map(lambda x: datetime(*time.localtime(x)[:6])).map(lambda x: pd.to_datetime(int(x)))
ratings=ratings.sort_values(['UserId','ItemId']).reset_index(drop=True)
print(ratings.shape)
ratings.head()

(100005, 4)

  UserId ItemId Rating   Timestamp
0      1   1029    3.0  1260759179
1      1   1061    3.0  1260759182
2      1   1129    2.0  1260759185
3      1   1172    4.0  1260759205
4      1   1263    2.0  1260759151

In [ ]:
1019512198

In [30]:
#datetime(*time.localtime(x)[:6])
datetime(* time.localtime(int(ratings.Timestamp[0]))[:6])

datetime.datetime(2009, 12, 13, 20, 52, 59)

In [3]:
#time_cutoff='1019512198'
train=ratings.loc[ratings.Timestamp<=time_cutoff]
test=ratings.loc[ratings.Timestamp>time_cutoff]
users_train=set(list(train.UserId))
items_train=set(list(train.ItemId))
test=test.loc[test.UserId.map(lambda x: x in users_train)]
test=test.loc[test.ItemId.map(lambda x: x in items_train)]
print(train.shape)
print(test.shape)

(2921, 4)
(4580, 4)