In [1]:
import pandas
import codecs
import pickle
from scipy.sparse import find
import numpy as np

In [2]:
with codecs.open('cross_movielens_100k.pkl','rb') as f:
    train, validate,test,user_content,item_content = pickle.load(f)

In [3]:
utility_traindf = train.pivot(index='userId', columns='movieId', values='rating')

In [4]:
utility_traindf = utility_traindf.fillna(0)
utility_traindf.head(5)

movieId,0,1,2,3,4,5,6,7,8,9,...,9056,9057,9058,9059,9060,9061,9062,9063,9064,9065
userId,,,,,,,,,,,,,,,,,,,,,
0,2.5,3.0,0.0,2.0,4.0,0.0,2.0,0.0,3.5,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
utility_traindf1 = utility_traindf.iloc[:, 0:4000]
#utility_traindf1.fillna(0)
utility_traindf1['userId'] = utility_traindf1.index

/sw/hprc/sw/Anaconda/3-5.0.0.1/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
train_melt1 = pandas.melt(utility_traindf1, id_vars='userId')

In [7]:
utility_traindf2 = utility_traindf.iloc[:, 4000:]
utility_traindf2['userId'] = utility_traindf2.index
train_melt2 = pandas.melt(utility_traindf2, id_vars='userId')
train_melt2.head(5)

/sw/hprc/sw/Anaconda/3-5.0.0.1/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   userId movieId  value
0       0    4098    0.0
1       1    4098    0.0
2       2    4098    0.0
3       3    4098    0.0
4       4    4098    0.0

In [8]:
train1 = train_melt1
train2 = train_melt2

In [9]:
self.training_ratings_user_1 = train1.loc[:,'userId']
self.training_ratings_user_2 = train2.loc[:,'userId']
self.training_ratings_item_1 = train1.loc[:,'movieId']
self.training_ratings_item_2 = train2.loc[:,'movieId']
self.training_ratings_score_1 = train1.loc[:,'value']
self.training_ratings_score_2 = train2.loc[:,'value']

NameError: name 'self' is not defined

In [ ]:
test_ratings_user = validate.loc[:,'userId']
test_ratings_item = validate.loc[:,'movieId']
test_ratings_score = validate.loc[:,'rating'] 
eval_ratings_user = test.loc[:,'userId']
eval_ratings_item = test.loc[:,'movieId']
eval_ratings_score = test.loc[:,'rating']

### Numbers

In [ ]:
n_user = max([training_ratings_user_1.max(), training_ratings_user_2.max(), test_ratings_user.max(),eval_ratings_user.max()])+1

n_item = max([training_ratings_item.max(),self.test_ratings_item.max(),self.eval_ratings_item.max()])+1

n_user_attr, self.n_item_attr = user_content.shape[1], item_content.shape[1]
print('n_user=%d n_item=%d n_user_attr=%d n_item_attr=%d' %(self.n_user,self.n_item,self.n_user_attr, self.n_item_attr))
user_attr = self.BuildAttributeFromSPMatrix(user_content,self.n_user,self.n_user_attr)
item_attr = self.BuildAttributeFromSPMatrix(item_content,self.n_item,self.n_item_attr)

In [10]:
def BuildAttributeFromSPMatrix(self, sp_matrix, n, m):
    res = [] 
    for _ in range(n):
        res.append([])
    (row,col,value) = find(sp_matrix)
    for r,c,v in zip(row,col,value):
        res[r].append([c,float(v)])
    return res